<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>mpfour</param-value>
    </context-param>
    <context-param>
        <param-name>secretKey</param-name>
        <param-value>thisIsASecretKey</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>model.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>model.DateContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveCourseServlet</servlet-name>
        <servlet-class>controller.LeaveCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>controller.EditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controller.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinCourseServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>controller.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveCourseServlet</servlet-name>
        <url-pattern>/LeaveCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinCourseServlet</servlet-name>
        <url-pattern>/JoinCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>model.AuthenticationException</exception-type>
        <location>/view/error_1.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/view/error_8.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/error_4.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/view/error_7.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>view/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
